.container{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}
.progress-container{
  width: 20rem;
  height: 1rem;
  background-color: white;
  display: flex;
}

.progress-bar{
  height: 1rem;
  background-color: green;
  transition: width 100ms;
}